{% extends "layout.html" %}
{% block content %}
	<div class="container">
        <h1> Junte-se agora à maior comunidade de ciência de dados do Brasil </h1>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Conta gratuita</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 0 <small class="text-muted">/ mês</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Acesso ilimitado</li>
              <li>Conecte-se com seus amigos </li>
              <li>Contribua com Data Science</li>
              <li><strike> Contrate talentos </strike></li>
            </ul>
            <a href="{{url_for('register')}}"><button type="button" class="btn btn-lg btn-block btn-outline-primary"> Crie sua conta grátis</button></a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$15 <small class="text-muted">/ mês</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Acesso ilimitado</li>
              <li>Conecte-se com seus amigos </li>
              <li>Contribua com Data Science</li>
              <li>Contrate talentos</li>
            </ul>
            <a href="{{url_for('register_premium')}}"><button type="button" class="btn btn-lg btn-block btn-primary"> Crie sua conta Premium </button></a>
          </div>
        </div>
      </div>

{% endblock content %}