{% extends "layout.html" %} {% block content %}

<h1>Escolha seus tópicos de Interesse</h1>
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}" />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <table>
        <thead>
          <tr>
            <th colspan="3">Interesses</th>
          </tr>
        </thead>
        {% for i in range(0, interests|length , 3) %} {% if interests[i].label
        in user_interest%}
        <tr>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i].label }}"
              checked
            />
          </td>
          <td>
            <label for="id_{{ interests[i].label }}">{{
              interests[i].label
            }}</label>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i + 1].label }}"
              checked
            />
          </td>
          <td>
            <label for="id_{{ interests[i + 1].label }}">{{
              interests[i + 1].label
            }}</label>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i + 2].label }}"
              checked
            />
          </td>
          <td>
            <label for="id_{{ interests[i + 2].label }}">{{
              interests[i + 2].label
            }}</label>
          </td>
        </tr>
        {%else%}
        <tr>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i].label }}"
            />
          </td>
          <td>
            <label for="id_{{ interests[i].label }}">{{
              interests[i].label
            }}</label>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i + 1].label }}"
            />
          </td>
          <td>
            <label for="id_{{ interests[i + 1].label }}">{{
              interests[i + 1].label
            }}</label>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <input
              type="checkbox"
              name="interests"
              value="{{ interests[i + 2].label }}"
            />
          </td>
          <td>
            <label for="id_{{ interests[i + 2].label }}">{{
              interests[i + 2].label
            }}</label>
          </td>
        </tr>
        {%endif%} {% endfor %}
      </table>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
